html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 1725px;
  padding: 0 15px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #464646;
  font-weight: 400;
  line-height: 1;
}

.btn {
  font-family: "Rubik", sans-serif;
  padding: 13px 50px;
  font-weight: 500;
  font-size: 22px;
  color: #6c6c6c;
  line-height: 1.5;
  border-radius: 100rem;
  border: 0;
  outline: none;
}
.btn--white {
  background-color: white;
}
.btn--primary {
  background-color: #F48C06;
  color: white;
}
.btn--no_background {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn--blue {
  background: rgba(35, 189, 238, 0.9);
  color: #ffffff;
}
.btn--blue_gray {
  padding: 10px 37px;
  background-color: #3465e1;
  color: white;
}
.btn--pink {
  padding: 10px 68px;
  background: #e13468;
  box-shadow: 0px 8.51126px 20.427px rgba(202, 47, 93, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 9px;
}
.btn--outline_primary {
  padding: 19px 38px;
  color: #F48C06;
  border: 1px solid #F48C06;
  font-size: 24px;
  background-color: transparent;
}

.global-primary {
  color: #2F327D;
}

.global-secondary {
  color: #F48C06;
}

.global-background_primary {
  background-color: #5b72ee;
}

.global-background_secondary {
  background-color: #F48C06;
}

.global-background_third {
  background-color: #65DAFF;
}

.header {
  background-color: #fff2e1;
  overflow: hidden;
  clip-path: ellipse(100% 100% at top);
}
.header-container {
  max-width: 1725px;
  padding: 0 15px;
  margin-left: 0;
  margin-right: 0;
}
.header-top {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 98px;
}
.header-auth {
  margin-left: 80px;
  display: flex;
  align-items: center;
  gap: 0 34px;
}
.header-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 62px;
}
.header-heading {
  font-size: 54px;
  font-weight: 800;
  color: #F48C06;
  line-height: 1.5;
  padding-bottom: 34px;
}
.header-heading span {
  color: #2F327D;
}
.header-desc {
  font-size: 24px;
  line-height: 1.5833333333;
  padding-bottom: 52px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.header-video {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.header-icon__play {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 80px;
}
.menu .link {
  color: inherit;
}

.partner {
  margin-top: 101px;
  margin-bottom: 160px;
}
.partner-container {
  max-width: 1368px;
  padding: 0 15px;
  margin: 0 auto;
}
.partner-title {
  text-align: center;
  font-size: 28px;
  line-height: 1.5714285714;
  color: #696984;
  letter-spacing: 0.02em;
  font-weight: 600;
  padding-bottom: 33px;
}
.partner-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 75px;
}
.partner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 147px;
}
.intro-header {
  max-width: 837px;
  margin: 0 auto;
}
.intro-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.7777777778;
  padding-bottom: 20px;
}
.intro-desc {
  text-align: center;
  font-size: 24px;
  color: #696984;
  line-height: 1.7916666667;
  padding-bottom: 160px;
}
.intro-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 60px;
}
.intro-item {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  justify-content: center;
}
.intro-icon {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(-57px);
  margin-bottom: 30px;
}
.intro-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 500;
  padding: 0 54px 24px 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-item_desc {
  text-align: center;
  color: #696984;
  line-height: 1.8;
  padding: 0 55px 50px 54px;
}

.skill {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 160px;
}
.skill-header {
  max-width: 1101px;
  margin: 0 auto;
}
.skill-heading {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.7954545455;
  text-align: center;
  padding-bottom: 20px;
}
.skill-desc {
  font-size: 24px;
  color: #696984;
  text-align: center;
  line-height: 1.7916666667;
  padding-bottom: 80px;
}
.skill-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 100px;
}
.skill-item {
  width: 600px;
  height: 400px;
  background: rgba(23, 27, 65, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.skill-title {
  padding-bottom: 17px;
  font-size: 32px;
  color: #ffffff;
  line-height: 1.5;
  text-transform: uppercase;
}
.skill-item:first-child {
  background-image: url(../images/group22.png);
}
.skill-item:last-child {
  background-image: url(../images/group23.png);
}

.orverview {
  margin-bottom: 160px;
}
.orverview-container {
  max-width: 1577px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 67px;
}
.orverview-content {
  max-width: 730px;
  margin: 0 auto;
}
.orverview-heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5833333333;
  padding-bottom: 30px;
}
.orverview-desc {
  font-size: 24px;
  color: #696984;
  line-height: 1.7916666667;
  text-align: left;
  padding-bottom: 30px;
}
.orverview-more {
  color: #696984;
  text-decoration: underline;
}
.orverview-video {
  width: 705px;
  height: 470px;
  border-radius: 20px;
  position: relative;
}
.orverview-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.orverview-video::before {
  content: "";
  position: absolute;
  width: 138px;
  height: 138px;
  background: #23bdee;
  border-radius: 20px;
  top: -20px;
  left: -20px;
  z-index: -1;
}
.orverview-video::after {
  content: "";
  position: absolute;
  width: 231px;
  height: 231px;
  background: #F3AC50;
  border-radius: 20px;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}

.feature-top {
  max-width: 888px;
  margin: 0 auto;
}
.feature-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.7777777778;
  padding-bottom: 20px;
  text-align: center;
}
.feature-desc {
  font-size: 24px;
  color: #696984;
  line-height: 1.7916666667;
  text-align: center;
  padding-bottom: 100px;
}
.feature-section:first-child {
  max-width: 1610px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0 123px;
  margin-bottom: 160px;
}
.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-content_heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 51px;
}
.feature-content_list {
  list-style-type: none;
}
.feature-content_list li {
  display: flex;
  align-items: center;
  gap: 0 42px;
  padding-bottom: 40px;
}
.feature-item_icon {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
  flex-shrink: 0;
}
.feature-section:nth-child(2) {
  max-width: 1471px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 236px;
  margin-bottom: 160px;
}
.feature-section:nth-child(2) .feature-heading {
  max-width: 392px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 20px;
  text-align: start;
}
.feature-section:nth-child(2) .feature-desc {
  color: #696984;
  line-height: 1.8181818182;
  max-width: 568px;
  text-align: justify;
  font-size: 22px;
}
.feature-section:nth-child(3) {
  max-width: 1490px;
  padding: 0 15px;
  margin: 0 auto 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 248px;
}
.feature-section:nth-child(3) .feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-section:nth-child(3) .feature-heading {
  max-width: 347px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 20px;
  text-align: start;
}
.feature-section:nth-child(3) .feature-desc {
  color: #696984;
  line-height: 1.8181818182;
  max-width: 568px;
  text-align: justify;
  font-size: 22px;
}
.feature-section:nth-child(4) {
  max-width: 1516px;
  padding: 0 15px;
  margin: 0 auto 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 248px;
}
.feature-section:nth-child(4) .feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-section:nth-child(4) .feature-heading {
  max-width: 420px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 20px;
  text-align: start;
}
.feature-section:nth-child(4) .feature-desc {
  color: #696984;
  line-height: 1.8181818182;
  max-width: 645px;
  text-align: start;
  font-size: 22px;
}
.feature-section:nth-child(5) {
  max-width: 1516px;
  padding: 0 15px;
  margin: 0 auto 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 190px;
}
.feature-section:nth-child(5) .feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-section:nth-child(5) .feature-heading {
  max-width: 247px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 20px;
  text-align: start;
}
.feature-section:nth-child(5) .feature-desc {
  color: #696984;
  line-height: 1.8181818182;
  max-width: 540px;
  text-align: start;
  font-size: 22px;
}
.feature-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 156px;
}

.platform {
  max-width: 1477px;
  padding: 0 15px;
  margin: 0 auto 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 291px;
}
.platform-title {
  display: flex;
  align-items: center;
  gap: 0 30px;
  padding-bottom: 33px;
}
.platform-title p {
  color: #525596;
  font-size: 20px;
  line-height: 1.35;
}
.platform-content {
  width: 100%;
  max-width: 688px;
}
.platform-line {
  width: 80px;
  height: 1px;
  background-color: #525596;
}
.platform-heading {
  max-width: 480px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5833333333;
  padding-bottom: 30px;
}
.platform-desc {
  font-size: 24px;
  color: #696984;
  line-height: 1.7916666667;
  text-align: start;
  margin-bottom: 44px;
}
.platform-image {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  align-items: center;
  max-width: 478px;
}

.testimonial {
  max-width: 1550px;
  padding: 0 15px;
  margin: 0 auto 150px;
}
.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 158px;
}
.testimonial-title {
  display: flex;
  align-items: center;
  gap: 0 30px;
  margin-bottom: 32px;
}
.testimonial-title p {
  color: #525596;
  font-size: 20px;
  line-height: 1.35;
}
.testimonial-line {
  width: 80px;
  height: 1px;
  background-color: #525596;
}
.testimonial-heading {
  font-size: 60px;
  line-height: 1.35;
  padding-bottom: 30px;
}
.testimonial-desc {
  max-width: 607px;
  color: #696984;
  font-size: 24px;
  line-height: 1.7083333333;
  padding-bottom: 43px;
}
.testimonial-btn {
  display: flex;
}
.testimonial-btn span {
  padding: 23px 60px 23px 26px;
  color: #F48C06;
  border: 1px solid #F48C06;
  border-radius: 100rem 0 0 100rem;
  border-right: 0;
}
.testimonial-arrow {
  width: 70px;
  height: 70px;
  border-radius: 100rem;
  border: 1px solid #F48C06;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.testimonial-slider .slider-item {
  position: relative;
}
.testimonial-slider .slider-image {
  width: 560px;
  height: 700px;
}
.testimonial-slider .slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-slider .slider-content {
  bottom: -121px;
  left: 69px;
  width: 680px;
  height: 329px;
  background: #ffffff;
  box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
}
.testimonial-slider .slider-content::before {
  content: "";
  height: 100%;
  width: 14px;
  background-color: #f77766;
  top: 0;
  left: 0;
  position: absolute;
}
.testimonial-slider .slider-desc {
  margin: 41px 59px 31px 55px;
  padding-left: 32px;
  border-left: 1px solid #bdbdd1;
  color: #696984;
  line-height: 1.8181818182;
  text-align: left;
}
.testimonial-slider .slider-info {
  padding: 0px 42px 29px 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-slider .slider-info .slider-author {
  color: #696984;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.75;
}
.testimonial-slider .slider-info .slider-rating {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}
.testimonial-slider .slider-info .slider-rating span {
  color: #80819a;
  font-size: 18px;
}

/*# sourceMappingURL=app.css.map */
