.platform {
  max-width: 1477px;
  padding: 0 15px;
  margin: 0 auto 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 291px;
  &-title {
    display: flex;
    align-items: center;
    gap: 0 30px;
    padding-bottom: 33px;
    p {
      color: #525596;
      font-size: 20px;
      line-height: calc(27 / 20);
    }
  }
  &-content {
      width: 100%;
      max-width:688px;
  }
  &-line {
    width: 80px;
    height: 1px;
    background-color: #525596;
  }
  &-heading {
      max-width: 480px;
      font-size: 36px;
      font-weight: bold;
      line-height: calc(57 / 36);
      padding-bottom: 30px;
  }
  
  &-desc {
      font-size: 24px;
      color  : $gray;
      line-height: calc(43 / 24);
      text-align: start;
      margin-bottom: 44px;
  }

  &-image {
      display:flex;
      flex-wrap : wrap;
      gap : 85px;
      align-items: center;
      max-width:478px;
  }
}
